<div class="account-pages">

</div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Register</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20">

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" [(ngModel)]="registerModel.Email" placeholder="Email" required="required">
                    </div>
                </div>
                
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" [(ngModel)]="registerModel.Name" placeholder="Name" required="required" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" [(ngModel)]="registerModel.Password" required="" placeholder="Password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" [(ngModel)]="registerModel.ConfirmPassword" required="" placeholder="Confirm Password" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-custom">
                            <input id="checkbox-signup" type="checkbox" checked="checked">
                            <label for="checkbox-signup">I accept <a href="">Terms and Conditions</a></label>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button (click)="save()" class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
                            Register
                        </button>
                    </div>
                </div>

            </form>         
        </div>
    </div>
    <!-- end card-box -->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Already have account?<a [routerLink]="['Login']" class="text-primary m-l-5"><b>Sign In</b></a></p>
        </div>
    </div>

</div>
<!-- end wrapper page -->