body{
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #000000;
}
.text-muted {
    color: #000000 !important;
}
.timeline-desk p {
    color: #000000;
}
.notification-box{
    padding: 24px;
}
.notification-box .pulse {
    right: 7px;
    top: 12px;
}
.notification-box .dot {
    top: 0px;
}
list-projects{ padding: 1px;} 
.app-main-container{
        max-height: 85%;
        overflow-y: scroll;
}

.timeline:before {
    width: 2px;    
}
.timeline .timeline-icon {
    -webkit-border-radius: 50%;
    background: #98a6ad;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 12px;
    left: -54px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
}
 .router-link-active {
    color: #000000 !important;
    background-color: #D1C4E9;
}