body{
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #000000;
    padding: 0px !important ;
    background: whitesmoke !important;
}
#wrapper {
    height: 100%;
    overflow: scroll;
    width: 100%;
}
 
.text-muted {
    color: #000000 !important;
}
.timeline-desk p {
    color: #000000;
}
.notification-box{
    padding: 24px;
}
.notification-box .pulse {
    right: 7px;
    top: 12px;
}
.notification-box .dot {
    top: 0px;
}
list-projects{ padding: 1px;} 
.app-main-container{
      /*  max-height: 85%;
        overflow-y: scroll; */
}

.timeline:before {
    width: 2px;    
}
.timeline .timeline-icon {
    -webkit-border-radius: 50%;
    background: #98a6ad;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 12px;
    left: -54px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
}
 .router-link-active, .router-link-active:hover  {
        color: #FFFDFD !important;
    background-color: #71B6F9;
}
a:hover {
    cursor: pointer;
}
.alert-success {
    background-color: #10C469;
    border-color: #00BCD4;
    color: #FFFFFF;
}

.rotate-txt {
    float: right;
    margin-top: 29px;
    transform: rotate(-58deg);
}
.a-btn-default{
    background-color: rgba(218, 230, 236, 0.09);
    border-color: rgba(218, 230, 236, 0.5);
    padding: 1px 6px 2px 6px;
}
.a-btn-default:hover{
    cursor: pointer;
    color: #0A88EC;
    border-color: rgba(33, 150, 243, 0.45);
}

.card-box {
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 10px;
}
tbody {
    color: black;
}

.alert-error {
        background: #FFEB3B;
}
.user-list .user-list-item .user-desc span.desc {
    color: #000000;
    font-size: 14px;
}
.side-bar {
    width: 45%;
}
.side-bar.right-bar {
    right: -45%;
}
.user-list .user-list-item .icon i {
    color: black;
    line-height: 45px;
    font-size: 21px;
}