<div class="row">
    <model-state [modelState]="modelState"></model-state> 
    <!-- Upcoming -->
    <board-panel [Title]="'Upcoming'" [Tasks]="Upcoming"  (notifyResponseEvent)="panelUpdated($event)"  ></board-panel>
      
    <!-- InProgress-->
    <board-panel [Title]="'In Progress'" [Tasks]="InProgress" (notifyResponseEvent)="panelUpdated($event)" ></board-panel>
    
    <!-- Complete-->
    <board-panel [Title]="'Complete'" [Tasks]="Complete"  (notifyResponseEvent)="panelUpdated($event)"  ></board-panel>
    
</div>