<!-- Begin page -->
<div id="wrapper" [ngClass] ="{'right-bar-enabled':showNotifs}">

    <!-- Top Bar Start -->
     <top-bar (flipNotifTopBarEvent)="flipNotifs($event)" ></top-bar>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
     <left-menu></left-menu>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container app-main-container" id="appMainId">
 
                    <router-outlet></router-outlet>
 
            </div> <!-- container -->

        </div>
        <!-- content -->

        <footer class="footer">
            2016 © ProjectFollowUp
        </footer>

    </div>
    <!-- End content-page -->


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
       <right-bar (flipNotifBarEvent)="flipNotifs($event)"  ></right-bar>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->

