<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
     <top-bar></top-bar>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
     <left-menu></left-menu>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <div class="row">
                    <router-outlet></router-outlet>
                </div><!-- End row -->

            </div> <!-- container -->

        </div>
        <!-- content -->

        <footer class="footer">
            2016 © ProjectFollowUp
        </footer>

    </div>
    <!-- End content-page -->


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
       <right-bar></right-bar>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->

