<h1> Matrix </h1>

<span>
    <i class="fa fa-object-ungroup" style="color: #E91E63;"></i>
    Tasks by importance/urgence
</span>

<table class="table table-no-border matrix">
    <tr>
        <th></th>
        <th>Urgent</th>
        <th>NOT Urgent</th>
    </tr>
    <tr>
        <td><b class="rotate-txt">Critical</b></td>
        <td style="background: #F44336; color: white;">
            <div *ngFor="#task of Model?.ImportantAndUrgent" class=""><i class="fa fa-angle-right"></i> {{task.Title}} <br /></div>
        </td>

        <td style="background: #FFC107;color: white;">
            <div *ngFor="#task of Model?.ImportantNotUrgent" class=""><i class="fa fa-angle-right"></i> {{task.Title}} <br /></div>
        </td>
    </tr>

    <tr>
        <td><b class="rotate-txt">Not critical</b></td>
        <td style="background: #00BCD4;color: white;">

            <div *ngFor="#task of Model?.NotImportantButUrgent" class="">
                <i class="fa fa-angle-right"></i> {{task.Title}} <br />
            </div> 
        </td>
        <td style="background: rgb(205, 220, 57);color: white;">
            <div *ngFor="#task of Model?.NotImportantNotUrgent" class=""><i class="fa fa-angle-right"></i> {{task.Title}} <br /></div>
        </td>
    </tr>
</table>