<div class="row">
    <model-state [modelState]="modelState"></model-state>
    <h4 class="header-title m-t-0 m-b-30">Add/Edit project wizard</h4>
    <div class="card-box">
        <div class="form-group clearfix">
            <label class="col-md-3 control-label " for="projectName">Name *</label>
            <div class="col-md-9">
                <input type="text" [(ngModel)]="projectModel.Name" class="form-control" required>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-3 control-label"> Objective </label>
            <div class="col-md-9">
                <textarea [(ngModel)]="projectModel.Objective" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-3 control-label "> Benifite </label>
            <div class="col-md-9">
                <textarea [(ngModel)]="projectModel.Benifite" class="form-control" cols="10"></textarea>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-3 control-label" for="startAt"> Start At *</label>
            <div class="col-md-9">
                <input type="datetime-local" [(ngModel)]="projectModel.StartAt" class="form-control" required>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-3 control-label " for="endAt"> End At *</label>
            <div class="col-md-9">
                <input type="datetime-local" [(ngModel)]="projectModel.EndAt" class="form-control" required>
            </div>
        </div>
        <button class="btn btn-primary waves-effect waves-light" (click)="save()">Save </button>
    </div>
</div>