<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="assign">Assign to</label>
            <input type="text" class="form-control" id="assign" placeholder="">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="priority">Priority</label>
            <input type="text" class="form-control" id="priority" placeholder="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Sdate">Start Date</label>
            <input type="text" class="form-control" id="Sdate" placeholder="">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="Ddate">Due Date</label>
            <input type="text" class="form-control" id="Ddate" placeholder="">
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success waves-effect waves-light">Save</button>