<div class="row">
    <div class="col-sm-12">
        <div class="timeline">
            <article class="timeline-item alt">
                <div class="text-right">
                    <div class="time-show first">
                        <a href="#" class="btn btn-custom w-lg">Today</a>
                    </div>
                </div>
            </article>
            <article *ngFor="#element of TodayElements" class="timeline-item" [ngClass]= "{'alt':element.Id%2}">
                <div class="timeline-desk">
                     <timeline-item [element]="element"></timeline-item>
                </div>
            </article>
            
            <article class="timeline-item alt">
                <div class="text-right">
                    <div class="time-show">
                        <a href="#" class="btn btn-custom w-lg">Yesterday</a>
                    </div>
                </div>
            </article>
            <article *ngFor="#element of YesterdayElements" class="timeline-item" [ngClass]= "{'alt':element.Id%2}">
                <div class="timeline-desk">
                     <timeline-item [element]="element"></timeline-item>
                </div>
            </article>
            
            <article class="timeline-item alt">
                <div class="text-right">
                    <div class="time-show">
                        <a href="#" class="btn btn-custom w-lg">Last Month</a>
                    </div>
                </div>
            </article>
              <article *ngFor="#element of OneMonthAgoElements" class="timeline-item" [ngClass]= "{'alt':element.Id%2}">
                <div class="timeline-desk">
                        <timeline-item [element]="element"></timeline-item>
                </div>
            </article>

        </div>
    </div>
</div>