<div class="row">
    <h4> Done today! </h4>
    <div class="card-box">
        <table class="table  table-bordered m-0 " *ngIf="testArray(data.TodayDoneTasks)">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Key factor</td>
                    <td>Done at</td>
                    <td>Duration</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#task of data.TodayDoneTasks" class="">
                    <td> {{task.Title}}</td>
                    <td> {{task.KeyFactor ? "Yes" : "No"}}</td>
                    <td> {{task.FinishAt}}</td>
                    <td> {{task.EstimatedTimeInMinutes / 60}} Hour(s)</td>
                </tr>
            </tbody>
        </table>
        <h5 *ngIf="!testArray(data.TodayDoneTasks)">Nothing for now <i class="fa fa-battery-0"></i></h5>
    </div>
    
    <matrix [matrixData]="data.MatrixVM"></matrix>

    <h4>Current-Day</h4>
    <div class="card-box">
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Duration</td>
                    <td>Start</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#task of data.CurrentTasks" [ngClass]="{'done': task.Done}">
                    <td> {{task.Title}}</td>
                    <td> {{task.EstimatedTimeInMinutes / 60}} Hour(s)</td>
                    <td>
                        <span style="color:red;">Time is over!</span>
                    </td>
                    <td>
                        <a *ngIf="task.Done" href="" class="btn changeState"  >
                            <i class="fa fa-check-square"></i> Mark done
                        </a>
                        <b *ngIf="!task.Done" style="text-decoration:none !important"><i class="fa fa-music"></i> Nice job</b>
                        <a *ngIf="!task.Done && !task.Urgent && !task.Critical" href=""
                            class="btn">
                            <i class="fa fa-adjust"></i> Postpone
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>